body {
  font-family: 'Roboto', sans-serif;
  border: 5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1em;
  padding: 10px 50px 10px 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  line-height: 40px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

.header {
  color: rgb(69, 111, 112);
  text-decoration: underline;
  padding: 0 20px;
  }

.item {
  color: rgb(69, 109, 110);
  font-style: italic;
  background-color: rgb(204, 201, 201);
  padding: 10px;
}

.image {
  width: 250px;
  height: auto;
  padding: 0 10px;
}